.card {
  position: relative;
  min-width: 200px;
  min-height: 200px;
  border: 2px solid #737373;
  border-radius: 10px;
  transition: all 1s;
}

.card:hover {
  transform: scale(1.05);
}

.center {
  position: absolute;
  left: 0;
  right: 0;

  img {
    width: 100%;
    padding: 50px;
    transition: all 1s;
  }
}
