.crud-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  tr:nth-child(even){
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }
  tr {
    text-align: left;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
}

.container {
  width: 75%;
  padding-bottom: 150px;

  h1 {
    text-align: center;
  }
}

.crud-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1, h4 {
  margin-top: 10px;
  margin-bottom: 20px;
}
